@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;400&display=swap');

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 20px auto;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 50px;
}


.brand {
    display: flex;
    align-items: center;
    gap: .3rem;
    color: white;
    border-right: 2px solid white;
    height: 100%;
    padding-right: 1rem;
}

.logo {
    font-family: 'Red Rose', serif;
    font-size: 35px;
}


.menu {
    display: flex;
    gap: 1rem;
    font-size: 24px;
    transition: all .3s;
}

.pending li {
    transition: all .3s;
}

.active li {
    border-bottom: 1px solid white;
    border-radius: 30px;
    padding: 0px 1rem;
    transition: all .3s;
}

.menu a {
    color: white;
}

.cart {
    position: relative;
    margin-right: 20px;
}

.actions {
    display: flex;
    align-items: center;
    gap: .5rem;
    color: white;
}

.cart_modal {
    position: absolute;
    top: 50px;
    right: 0px;
    background-color: white;
    color: black;
    width: 300px;
    height: 320px;
    padding: 1rem .5rem;
    border-radius: 5px;
    overflow: scroll;
}

.cart_icon {
    width: 36px;
}

.total_count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #01985A;
    color: white;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}