.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 20px auto;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 50px;
}


.brand {
    display: flex;
    align-items: center;
    gap: .3rem;
    color: white;
    border-right: 2px solid white;
    height: 100%;
    padding-right: 1rem;
}


.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 24px;
    transition: all .3s;
}

.pending li {
    transition: all .3s;
}

.active li {
    border-bottom: 1px solid white;
    border-radius: 30px;
    padding: 0px 1rem;
    transition: all .3s;
}

.menu a {
    font-size: 18px;
    color: white;
}

.actions {
    display: flex;
    align-items: center;
    gap: .5rem;
    color: white;
}