 .register {
     display: flex;
     align-items: center;
 }

 .image_box {
     color: white;
     height: 100vh;
     width: 45%;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .image_box img {
     width: 516px;
     height: 540px;
 }

 .title {
     color: white;
     font-size: 25px;
     font-style: normal;
     font-weight: 500;
     line-height: normal;
     text-align: center;
     margin-bottom: 1rem;
 }

 .form {
     width: 90%;
     padding: 2rem 4rem;
     border-radius: 8px;
 }

 .d_flex {
     display: flex;
     flex-direction: column;
     gap: 1rem;
 }

 .select {
     width: 100%;
     height: 30px;
     border-radius: 10px;
     background: #F4F4F4;
     border: none;
     padding-left: 10px#F4F4F4;
     margin-bottom: 10px;

 }


 .form_box {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 45%;
     padding: 10px 15px;
     background-color: rgba(0, 0, 0, .4);
 }

 .form_group {
     display: flex;
     flex-direction: column;
 }

 .form_group label {
     font-size: 14px;
     font-style: normal;
     font-weight: 500;
     line-height: normal;
     color: #fff;
     margin-bottom: 10px;
 }

 .form_group input {
     border-radius: 5px;
     background: transparent;
     border: 1px solid #00A551;
     height: 40px;
     width: 100%;
     margin-bottom: 10px;
     padding: 0 10px;
     outline: none;
     color: white;
     transition: all 0.3s ease-in-out;
 }

 .form_group input:focus {
     border-color: #00A551;
 }

 .form_group input:focus {
     border: 1px solid #00A551;
 }

 .error {
     color: red;
     font-size: 12px;
     font-style: normal;
     font-weight: 500;
     line-height: normal;
 }

 .btn_container {
     display: flex;
     justify-content: end;
 }


 input[type="radio"]:checked,
 [type="radio"]:not(:checked) {
     position: absolute;
     left: -9999px;
 }

 input[type="radio"]:checked+label,
 input[type="radio"]:not(:checked)+label {
     position: relative;
     padding-left: 28px;
     cursor: pointer;
     line-height: 20px;
     display: inline-block;
     color: #666;
 }

 input[type="radio"]:checked+label:before,
 input[type="radio"]:not(:checked)+label:before {
     content: '';
     position: absolute;
     left: 0;
     top: 0;
     width: 18px;
     height: 18px;
     border: 1px solid #ddd;
     border-radius: 100%;
     background: white;
 }

 input[type="radio"]:checked+label:after,
 input[type="radio"]:not(:checked)+label:after {
     content: '';
     width: 12px;
     height: 12px;
     background: #00A551;
     position: absolute;
     top: 4px;
     left: 4px;
     border-radius: 100%;
     -webkit-transition: all 0.2s ease;
     transition: all 0.2s ease;
 }

 input[type="radio"]:not(:checked)+label:after {
     opacity: 0;
     -webkit-transform: scale(0);
     transform: scale(0);
 }

 input[type="radio"]:checked+label:after {
     opacity: 1;
     -webkit-transform: scale(1);
     transform: scale(1);
 }

 .radio_btns {
     display: flex !important;
     flex-direction: row;
     justify-content: center;
     gap: 10rem;
 }

 .register_btn {
     margin-top: 1.5rem;
     transition: all .3s;
 }

 .register_btn .btn:hover {
     background-color: #00844d !important;
     transition: all .3s;
 }

 .green_bg {
     position: absolute;
     top: 0;
     z-index: -1;
 }




 /* #00844 */